/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

#nav-bar:not(:focus-within) {
     position: absolute !important;
     z-index: -999 !important;
     display: table-column;
}

#navigator-toolbox::after {
     content: none !important;
}

.tab-background {
     background-color: #3c4956 !important;
     ;
     /* this sets the color of the tab background */
     border-top: none !important;
}

.tab-background[selected="true"] {
     background-image: none !important;
}

.tab-line[selected="true"] {
     background-color: #3c4956 !important;
     /* this sets the color of the line above the tab */
}

.tab-label-container {
     color: white !important;
     mask-image: none !important;
     font-family: Inconsolata-g;
     font-size: 13px;
}

.tab-label-container[selected="true"] {
     color: #b0e0ed !important;
     mask-image: none !important;
     font-family: Inconsolata-g;
     font-size: 13px;
}

.tab-close-button,
.tabs-newtab-button {
     display: none
}

#tab-close-button,
#tabs-newtab-button {
     display: none
}

#TabsToolbar-customization-target {
     background-color: #3c4956 !important;
}

.tabbrowser-tab::before,
.tabbrowser-tab::after {
     display: none !important;
}